@import "./_themes.scss";
.infoCard {
	> p {
		padding: 10px 20px;
		box-sizing: border-box;
		width: 100%;
		// text-align: center;
	}
	padding: 10px 20px;
	position: relative;
	margin: 10px;
	background-color: #161616;
	border-radius: 10px;
	border: 1px solid #161616;
	&.playerCard {
		height: 150px;
		width: 150px;
		background-repeat: no-repeat, repeat;
		background-position: center;
		background-size: 150px 150px;
		> p {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #00000090;
			font-weight: bold;
			margin: 0;
			border-radius: 0 0 10px 10px;
		}
	}
	&.coordCard {
		padding: 0;
		display: flex;
		> img {
			// height: 100%;
			// width: auto;
			height: 60px;
			display: inline-block;
			border-radius: 10px;
		}
		> p {
			margin: 0px;
			padding: 20px;
			display: inline-block;
		}
	}
	box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.5);
	&:hover:not(.selected):not(.noHover) {
		&.clickable {
			cursor: pointer;
		}
		border: 1px solid map-get($map: $blue, $key: 800);
		background-size: 160px 160px;
	}
	&.selected {
		&.clickable {
			cursor: pointer;
		}
		border: 1px solid map-get($map: $purple, $key: A400);
		box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.5);
	}
	transition: all 400ms;
}
